﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @ViewData["FirstName"]</h1>
    <p>Welcome to University Database!</p>
    <p>Here you can manage Students, Courses, Instructors as well as Departments.</p>
</div>